[buildout]
extends = http://dist.plone.org/release/4.3.7/versions.cfg
    versions.cfg

extensions = mr.developer
parts =
    instance
    test
    code-analysis
    releaser
    i18ndude
    omelette
    robot
    translation
    createcoverage

sources = sources
sources-dir = devel
auto-checkout = collective.task

develop = .

[sources]
collective.task = git https://github.com/collective/collective.task.git


[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
eggs =
    Plone
    Pillow
    urban.schedule [test]


[code-analysis]
recipe = plone.recipe.codeanalysis
directory = ${buildout:directory}/src/urban
flake8-exclude = bootstrap.py,bootstrap-buildout.py,docs,*.egg.,omelette
flake8-max-complexity = 15
flake8-extensions =
    flake8-blind-except
    flake8-debugger
    flake8-coding


[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}


[translation]
recipe = infrae.i18nextract
packages = urban.schedule
output = ${buildout:directory}/src/urban/schedule/locales
output-package = urban.schedule
domain = urban.schedule


[test]
recipe = zc.recipe.testrunner
eggs = ${instance:eggs}
defaults = ['-s', 'urban.schedule', '--auto-color', '--auto-progress']


[createcoverage]
recipe = zc.recipe.egg
eggs = createcoverage


[robot]
recipe = zc.recipe.egg
eggs =
    ${test:eggs}
    plone.app.robotframework[debug,ride,reload]


[releaser]
recipe = zc.recipe.egg
eggs = zest.releaser


[i18ndude]
recipe = zc.recipe.egg
eggs = i18ndude


[versions]
# Don't use a released version of urban.schedule
urban.schedule =

setuptools = 18.1
zc.buildout = 2.4.1
zc.recipe.egg = 2.0.2
flake8 = 2.3.0
i18ndude = 3.4.0
robotframework = 2.8.4
robotframework-ride = 1.3
robotframework-selenium2library = 1.6.0
robotsuite = 1.6.1
selenium = 2.46.0
